body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  


  .dropdown-toggle { outline: 0; }
  
  /* 折り畳み可能リストのサイドバー用 */
  .btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  [data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
  }
  
  /* リストグループのサイドバー用 */
  .scrollarea {
    overflow-y: auto;
  }

  .sidevar{
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .d-flex .flex-column .flex-shrink-0 .p-3 .text-bg-dark{
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }




  .header img {
    height:50%;
    margin-top: auto;
    margin-bottom: auto;
}

.header a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: #333;
}

.headermenu {
    display:flex;
    justify-content: center;
    color:aliceblue;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.sidemenu{
    margin-top: auto;
    margin-bottom: auto;
    padding-right:25px;
    color:aliceblue;
}

.menu{
    padding:0 30px;
    margin: auto;
    
}

.menu a{
    text-decoration: none;
    color: white;
}








  @media(max-width:950px){
    .icon{
        display: none;
    }

    .bi .me-2{
        display: none;
    }


    .sizemenu{
        width:80%;
        text-align: center;
        text-align: right;
        position: relative;
        display: flex;
        justify-content:flex-end;
    }

    .sizemenu img{
        padding:25px;
        width:10%;
    }

    .clickmenus{
        display:none;
        justify-content: flex-end;
    }

    .clickmenu_sign{
        border-bottom: 1px solid #ccc;
    }

}